.bubble 
{
border-color: rgb(127, 127, 127);
top: 127.5px;
background-color: rgb(255, 255, 255);
position: relative;
width: 195px;
height: 45px;
padding: 10px;
background: #FFFFFF;
-webkit-border-radius: 80px;
-moz-border-radius: 80px;
border-radius: 80px;
border: #000000 solid 4px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 50px 17px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -50px;
left: 84px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 53px 20px 0;
border-color: #000000 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -57px;
left: 81px;
}

.pointer
{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-color: #fff transparent;
    border-style: solid;
    border-width: 15px 15px 0
}

.pointerBorder
{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 0;
    border-color: #bbb transparent;
    border-style: solid;
    border-width: 20px 20px 0
}
